
.header{
    width: 100vw;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 10px;
    margin: 0;
}
.header .input{
    height: 30px;
    width: 200px; 
    border-radius: 10px;
}

.btn{
    padding: 10px;
    border-radius: 10px;
}
  
.btn:hover{
    background-color: rgb(162, 147, 147);
    color: aliceblue;
}

.header .btn-container{
    display: flex ;
    gap: 10px;
}

.main-container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.inner-container{
    border: 1px solid gray;
    border-radius: 10px;
    width: 100px;

}

.tblbody{
    padding: 10px;
}

.tbl-con{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.tbl-body{
    margin-bottom: 10px;
}

.tbl-data{
    padding: 8px;
    border-bottom: 1px solid gray;
}

.del-btn , .cs-btn{
    padding: 8px;
    border-radius: 10px;
}

.del-btn:hover{
    background: rgb(242, 71, 71);
    color: white;
}

.cs-btn:hover{
    background-color: rgb(112, 112, 220);
    color: white;
}